/LICENSE.txt
/README.txt
/_PSD/levelshot.psd
/attribution.txt
/env/eXcs/wasteland.jpg
/env/eXcs/wasteland_bk.jpg
/env/eXcs/wasteland_dn.jpg
/env/eXcs/wasteland_ft.jpg
/env/eXcs/wasteland_lf.jpg
/env/eXcs/wasteland_rt.jpg
/env/eXcs/wasteland_up.jpg
/env/utcsud/ud_bk.jpg
/env/utcsud/ud_dn.jpg
/env/utcsud/ud_ft.jpg
/env/utcsud/ud_lf.jpg
/env/utcsud/ud_rt.jpg
/env/utcsud/ud_up.jpg
/levelshots/eXcs.tga
/levelshots/eXcs.xcf
/levelshots/utcsud.jpg
/levelshots/utcsud_13.jpg
/map-atcshd.txt
/map-excs.txt
/maps/eXcs.aas
/maps/eXcs.bullet
/maps/eXcs.cm
/maps/eXcs.lin
/maps/eXcs.map
/maps/eXcs.prt
/maps/eXcs.srf
/maps/eXcs.world
/maps/exs/ow_exs.bullet
/maps/exs/ow_exs.cm
/maps/exs/ow_exs.map
/maps/exs/ow_exs.prt
/maps/exs/ow_exs.srf
/maps/exs/ow_exs.world
/maps/fueldump.bullet
/maps/fueldump.cm
/maps/fueldump.map
/maps/fueldump.prt
/maps/fueldump.srf
/maps/fueldump.surface
/maps/fueldump.world
/maps/ow_exs.bullet
/maps/ow_exs.cm
/maps/ow_exs.map
/maps/ow_exs.prt
/maps/ow_exs.srf
/maps/ow_exs.world
/maps/utcsud_13.aas
/maps/utcsud_13.bullet
/maps/utcsud_13.cm
/maps/utcsud_13.map
/maps/utcsud_13.prt
/maps/utcsud_13.srf
/maps/utcsud_13.tga
/maps/utcsud_13.world
/maps/vega-beta1.bsp
/maps/vega-beta1.bullet
/maps/vega-beta1.cm
/maps/vega-beta1.map
/maps/vega-beta1.prt
/maps/vega-beta1.srf
/maps/vega-beta1.world
/scripts/_asset.shader
/scripts/_mawi.shader
/scripts/eX.shader.bak
/scripts/eXcs.arena
/scripts/eXcs.mtr
/scripts/eXcs.particle
/scripts/eXcs.shader
/scripts/utcsud.arena
/scripts/utcsud.mtr
/scripts/utcsud.shader
/sound/ambient/30-60HzHum.wav
/sound/ambient/drone1.wav
/sound/ambient/drone2.wav
/sound/ambient/electricspark.wav
/sound/ambient/fan.wav
/sound/ambient/quickpulse.wav
/sound/ambient/slowpulse1.wav
/sound/ambient/slowpulse2.wav
/sound/ambient/steam.wav
/sound/ambient/water1.wav
/sound/ambient/water_drip_fast.wav
/sound/ambient/water_drip_med.wav
/sound/ambient/water_drip_slow.wav
/sound/ambient/water_rush.wav
/sound/ambient/wind1.wav
/sound/ambient/wind2.wav
/sound/announcements/overmindattack.wav
/sound/announcements/overminddying.wav
/sound/announcements/overmindevolved.wav
/sound/announcements/overmindspawns.wav
/sound/announcements/reinforcement.wav
/sound/buildables/acid_tube/attack1.wav
/sound/buildables/acid_tube/construct1.wav
/sound/buildables/acid_tube/pain1.wav
/sound/buildables/acid_tube/pain2.wav
/sound/buildables/alien/attack1.wav
/sound/buildables/alien/attack2.wav
/sound/buildables/alien/construct1.wav
/sound/buildables/alien/construct2.wav
/sound/buildables/alien/damage.wav
/sound/buildables/alien/destroy1.wav
/sound/buildables/alien/destroy2.wav
/sound/buildables/alien/destroyed.wav
/sound/buildables/alien/explosion.wav
/sound/buildables/alien/idle1.wav
/sound/buildables/alien/idle2.wav
/sound/buildables/alien/idle3.wav
/sound/buildables/alien/pain1.wav
/sound/buildables/alien/pain2.wav
/sound/buildables/alien/prebuild.wav
/sound/buildables/alien/spawn1.wav
/sound/buildables/alien/spawn2.wav
/sound/buildables/barricade/construct1.wav
/sound/buildables/barricade/destroyed.wav
/sound/buildables/barricade/pain1.wav
/sound/buildables/barricade/pain2.wav
/sound/buildables/booster/pain1.wav
/sound/buildables/dcc/idle1.wav
/sound/buildables/eggpod/pain1.wav
/sound/buildables/eggpod/pain2.wav
/sound/buildables/hive/pain1.wav
/sound/buildables/hive/pain2.wav
/sound/buildables/hovel/attack1.wav
/sound/buildables/hovel/attack2.wav
/sound/buildables/hovel/pain1.wav
/sound/buildables/hovel/pain2.wav
/sound/buildables/human/attack1.wav
/sound/buildables/human/attack2.wav
/sound/buildables/human/construct1.wav
/sound/buildables/human/construct2.wav
/sound/buildables/human/damage.wav
/sound/buildables/human/damage0.wav
/sound/buildables/human/damage1.wav
/sound/buildables/human/damage2.wav
/sound/buildables/human/damage3.wav
/sound/buildables/human/destroy1.wav
/sound/buildables/human/destroy2.wav
/sound/buildables/human/destroyed.wav
/sound/buildables/human/explosion.wav
/sound/buildables/human/fragmentbounce.wav
/sound/buildables/human/idle1.wav
/sound/buildables/human/idle2.wav
/sound/buildables/human/idle3.wav
/sound/buildables/human/pain1.wav
/sound/buildables/human/pain2.wav
/sound/buildables/human/prebuild.wav
/sound/buildables/human/repair.wav
/sound/buildables/human/repaired.wav
/sound/buildables/human/spawn1.wav
/sound/buildables/human/spawn2.wav
/sound/buildables/medistat/attack1.wav
/sound/buildables/medistat/idle1.wav
/sound/buildables/mgturret/attack1.wav
/sound/buildables/mgturret/firetemplate.wav
/sound/buildables/mgturret/idle1.wav
/sound/buildables/overmind/construct1.wav
/sound/buildables/overmind/idle1.wav
/sound/buildables/overmind/pain1.wav
/sound/buildables/overmind/pain2.wav
/sound/buildables/reactor/attack1.wav
/sound/buildables/reactor/idle1.wav
/sound/buildables/repeater/idle1.wav
/sound/buildables/repeater/use.wav
/sound/buildables/telenode/construct1.wav
/sound/buildables/tesla/idle1.wav
/sound/buildables/tesla/tesla_fire.wav
/sound/buildables/trapper/attack1.wav
/sound/buildables/trapper/pain1.wav
/sound/buildables/trapper/pain2.wav
/sound/eXcs/firework.wav
/sound/eXcs/ing_fan02.wav
/sound/eXcs/ing_noiseloop02.wav
/sound/feedback/hit.wav
/sound/misc/alien_talk.wav
/sound/misc/disconnect.wav
/sound/misc/electro.wav
/sound/misc/fry.wav
/sound/misc/hard_bounce1.wav
/sound/misc/hard_bounce2.wav
/sound/misc/human_talk.wav
/sound/misc/menu1.wav
/sound/misc/menu2.wav
/sound/misc/menu3.wav
/sound/misc/menu4.wav
/sound/misc/organic_bounce.wav
/sound/misc/talk.wav
/sound/movers/doors/dr1_end.wav
/sound/movers/doors/dr1_strt.wav
/sound/movers/plats/pt1_end.wav
/sound/movers/plats/pt1_strt.wav
/sound/movers/switches/button1.wav
/sound/player/alienevolve.wav
/sound/player/builder/death1.wav
/sound/player/builder/death2.wav
/sound/player/builder/death3.wav
/sound/player/builder/jump1.wav
/sound/player/builder/pain100_1.wav
/sound/player/builder/pain25_1.wav
/sound/player/builder/pain50_1.wav
/sound/player/builder/pain75_1.wav
/sound/player/builder/taunt.wav
/sound/player/footsteps/clank1.wav
/sound/player/footsteps/clank2.wav
/sound/player/footsteps/clank3.wav
/sound/player/footsteps/clank4.wav
/sound/player/footsteps/flesh1.wav
/sound/player/footsteps/flesh2.wav
/sound/player/footsteps/flesh3.wav
/sound/player/footsteps/flesh4.wav
/sound/player/footsteps/splash1.wav
/sound/player/footsteps/splash2.wav
/sound/player/footsteps/splash3.wav
/sound/player/footsteps/splash4.wav
/sound/player/footsteps/step1.wav
/sound/player/footsteps/step2.wav
/sound/player/footsteps/step3.wav
/sound/player/footsteps/step4.wav
/sound/player/human_base/clank1.wav
/sound/player/human_base/clank2.wav
/sound/player/human_base/clank3.wav
/sound/player/human_base/clank4.wav
/sound/player/human_base/death1.wav
/sound/player/human_base/death2.wav
/sound/player/human_base/death3.wav
/sound/player/human_base/fall1.wav
/sound/player/human_base/jump1.wav
/sound/player/human_base/pain100_1.wav
/sound/player/human_base/pain25_1.wav
/sound/player/human_base/pain50_1.wav
/sound/player/human_base/pain75_1.wav
/sound/player/human_base/step1.wav
/sound/player/human_base/step2.wav
/sound/player/human_base/step3.wav
/sound/player/human_base/step4.wav
/sound/player/human_base/taunt.wav
/sound/player/human_bsuit/clank1.wav
/sound/player/human_bsuit/clank2.wav
/sound/player/human_bsuit/clank3.wav
/sound/player/human_bsuit/clank4.wav
/sound/player/human_bsuit/death1.wav
/sound/player/human_bsuit/death2.wav
/sound/player/human_bsuit/death3.wav
/sound/player/human_bsuit/fall1.wav
/sound/player/human_bsuit/jump1.wav
/sound/player/human_bsuit/pain100_1.wav
/sound/player/human_bsuit/pain25_1.wav
/sound/player/human_bsuit/pain50_1.wav
/sound/player/human_bsuit/pain75_1.wav
/sound/player/human_bsuit/step1.wav
/sound/player/human_bsuit/step2.wav
/sound/player/human_bsuit/step3.wav
/sound/player/human_bsuit/step4.wav
/sound/player/human_bsuit/taunt.wav
/sound/player/land1.wav
/sound/player/level0/death1.wav
/sound/player/level0/death2.wav
/sound/player/level0/death3.wav
/sound/player/level0/drown.wav
/sound/player/level0/gasp.wav
/sound/player/level0/jump1.wav
/sound/player/level0/pain100_1.wav
/sound/player/level0/pain25_1.wav
/sound/player/level0/pain50_1.wav
/sound/player/level0/pain75_1.wav
/sound/player/level0/taunt.wav
/sound/player/level1/death1.wav
/sound/player/level1/death2.wav
/sound/player/level1/death3.wav
/sound/player/level1/grab.wav
/sound/player/level1/jump1.wav
/sound/player/level1/pain100_1.wav
/sound/player/level1/pain25_1.wav
/sound/player/level1/pain50_1.wav
/sound/player/level1/pain75_1.wav
/sound/player/level1/taunt.wav
/sound/player/level2/death1.wav
/sound/player/level2/death2.wav
/sound/player/level2/death3.wav
/sound/player/level2/jump1.wav
/sound/player/level2/pain100_1.wav
/sound/player/level2/pain25_1.wav
/sound/player/level2/pain50_1.wav
/sound/player/level2/pain75_1.wav
/sound/player/level2/taunt.wav
/sound/player/level3/death1.wav
/sound/player/level3/death2.wav
/sound/player/level3/death3.wav
/sound/player/level3/jump1.wav
/sound/player/level3/pain100_1.wav
/sound/player/level3/pain25_1.wav
/sound/player/level3/pain50_1.wav
/sound/player/level3/pain75_1.wav
/sound/player/level3/taunt.wav
/sound/player/level4/charge_prepare.wav
/sound/player/level4/charge_start.wav
/sound/player/level4/death1.wav
/sound/player/level4/death2.wav
/sound/player/level4/death3.wav
/sound/player/level4/jump1.wav
/sound/player/level4/pain100_1.wav
/sound/player/level4/pain25_1.wav
/sound/player/level4/pain50_1.wav
/sound/player/level4/pain75_1.wav
/sound/player/level4/taunt.wav
/sound/player/watr_in.wav
/sound/player/watr_out.wav
/sound/player/watr_un.wav
/sound/ui/heartbeat.wav
/sound/upgrades/jetpack/hi.wav
/sound/upgrades/jetpack/idle.wav
/sound/upgrades/jetpack/low.wav
/sound/upgrades/medkit/medkit.wav
/sound/utcsud/fan.wav
/sound/utcsud/in_loop.wav
/sound/utcsud/pump.wav
/sound/utcsud/sound_gas.wav
/sound/weapons/change.wav
/sound/weapons/tracer.wav
/sound/world/electro.wav
/utcsud_1.3_v1.1_readme.txt
